<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card my-5">
        <div class="card-body">
          <h1 class="mb-3">RCT2 ride price calculation sheet</h1>

          <div class="row">
            <div class="col-6">
            <app-rct-ride-select (ride)="setRide($event)"></app-rct-ride-select>
            </div>
            <div class="col-6">
              <app-rct-ridestats (stats)="setStats($event)"></app-rct-ridestats>
            </div>
            <div class="col-12">
              <app-rct-table [ride]="selectedRide" [stats]="selectedStats"></app-rct-table>
            </div>
          </div>
          <p class="text-center mt-3">Credits to Deurklink @reddit for the calculations</p>
        </div>
      </div>
    </div>
  </div>
</div>
